.clear-item{
    margin: 12px 0;
    padding: 10px 12px;
    border-radius: 6px;
    background-color: rgb(164, 159, 159);
    cursor: pointer;
    width: 100%;
}
.clear-item:hover{
     
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    
    
}

@media (min-width: 700px){
  .clear-item{ width: auto; }
}