

ul{
    list-style-type: none;
}
.task-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 12px;
}

@media (max-width: 600px){
  .task-list{ padding: 8px; }
}